<b>Stückliste exportiert aus /home/vervoorst/Dokumente/roboterarm-dokumentation/circuitdiagram/Eagle/Schule/roboterAnsteurung.sch am 24.04.17 10:09</b>
<p>
<table>
<tr><td><b>Qty</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Parts</b></td><td><b>Description</b></td><td><b>MF</b></td><td><b>MPN</b></td><td><b>OC_FARNELL</b></td><td><b>OC_NEWARK</b></td><td><b>TP_SIGNAL_NAME</b></td></tr>
<tr><td>1</td><td></td><td>KBU6A</td><td>STANDART-WW+</td><td>B1</td><td>Silizium-Brückengleichrichter 35V6A</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>9</td><td></td><td>LEDCHIPLED_1206</td><td>CHIPLED_1206</td><td>LED1, LED2, LED3, LED4, LED5, LED6, LED7, LED8, LED9</td><td>LED</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td></td><td>LM317TS</td><td>317TS</td><td>IC2</td><td>VOLTAGE REGULATOR</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td></td><td>PCA9685</td><td>TSSOP28</td><td>U1</td><td>PCA9685 - 16 Channel 12-Bit I2C PWM Controller</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>5</td><td></td><td>PINHD-1X3</td><td>1X03</td><td>ACHSE1, ACHSE2, ACHSE3, ACHSE4, JP1</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>0.1/5W</td><td>R_AXIAL_5W_SERIE_208-8</td><td>R_SERIE_208-8</td><td>R1, R13, R32, R49</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2</td><td>0.1µF</td><td>C-EU025-024X044</td><td>C025-024X044</td><td>C2, C10</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>0.5M</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R29, R46, R65, R74</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>100K</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R25, R42, R53, R70</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>100R</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R12, R24, R41, R69</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>100nF</td><td>C1206_LONGER_PAD</td><td>C1206</td><td>C3, C4, C5, C9</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>10K</td><td>R-TRIMM3296W</td><td>RTRIM3296W</td><td>R6, R27, R44, R72</td><td>Trimm resistor</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>8</td><td>10K</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R7, R28, R30, R45, R47, R66, R73, R75</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>10µF</td><td>CPOL-EUE2.5-6</td><td>E2,5-6</td><td>C6</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>8</td><td>125R</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R10, R11, R20, R23, R37, R40, R59, R68</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>8</td><td>130R</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R2, R3, R16, R17, R33, R34, R50, R54</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>180R</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R8, R22, R39, R61</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>5</td><td>1K</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R31, R48, R63, R67, R76</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>1K3</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R57</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>1N4004</td><td>1N4004</td><td>DO41-10</td><td>D1, D2, D3, D4</td><td>DIODE</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2</td><td>1µF</td><td>CPOL-EUE2.5-7</td><td>E2,5-7</td><td>C1, C11</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>220µF</td><td>CPOL-EUE3.5-8</td><td>E3,5-8</td><td>C8</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>240</td><td>R-EU_0204/5</td><td>0204/5</td><td>R15</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>2K2</td><td>R-TRIMM3296W</td><td>RTRIM3296W</td><td>R14</td><td>Trimm resistor</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>8</td><td>2K7</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R4, R5, R18, R19, R35, R36, R55, R56</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>300R</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R9, R21, R38, R60</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>470µF</td><td>CPOL-EUE3.5-8</td><td>E3,5-8</td><td>C7</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>6</td><td>4K7</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R26, R43, R51, R52, R58, R71</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>500R</td><td>R1206_LONGER_PAD</td><td>R1206</td><td>R62</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>5K</td><td>R-TRIMM3296W</td><td>RTRIM3296W</td><td>R64</td><td>Trimm resistor</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>68µH 2.5A</td><td>L7-12.5</td><td>L7-12.5</td><td>L1</td><td>Reichelt Artikel-Nr.: L-09HCP 68µ</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>7805</td><td>78XXS</td><td>78XXS</td><td>IC5</td><td>VOLTAGE REGULATOR</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>AKL-230-2</td><td>AKL-230-2</td><td>AKL-230-2</td><td>12V</td><td>Wannenstecker für AKL 249, 2-pol, RM5,08</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>BC849</td><td>BC849</td><td>SOT23-W</td><td>Q1, Q3, Q5, Q7</td><td>Reichelt BC 849C SMD</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>BC856B</td><td>BC856B</td><td>SOT23-W</td><td>Q2, Q4, Q6, Q8</td><td>Transitor B856B</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>BD135</td><td>-NPN-TO126V</td><td>TO126V</td><td>T1, T2, T3, T4</td><td>NPN Transistror</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>IOWARRIOR24SMD</td><td>IOWARRIOR24SMD</td><td>IOWARRIOR24-SOIC</td><td>U$1</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>LM2596T</td><td>LM2596T</td><td>T05D</td><td>IC3</td><td>SIMPLE SWITCHER® Power Converter 150 kHz 3A Step-Down Voltage Regulator</td><td></td><td>LM2596T-ADJ/LF02</td><td>9494162</td><td>65K5910</td><td></td></tr>
<tr><td>1</td><td>LM339M</td><td>LM339M</td><td>SOIC14</td><td>IC4</td><td>LM339 Komparator, Quad, SOIC-14</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4</td><td>LTV826S</td><td>LTV826S</td><td>SO8-SPECIAL</td><td>OK1, OK2, OK3, OK4</td><td>LTV826S Optokoppler</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>MCP6H04E/SL</td><td>MCP6H04E/SL</td><td>SOIC14</td><td>IC1</td><td>MCP6H04 E/SL</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>SB540</td><td>SB540</td><td>DO201</td><td>D7</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>8</td><td>TPTP13R</td><td>TPTP13R</td><td>TP13R</td><td>TP1, TP2, TP3, TP4, TP5, TP6, TP7, TP8</td><td>Test pad</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>USB-A</td><td>USB-A</td><td>MOLEX_480371000</td><td>X1</td><td>USB type A 'plug'</td><td></td><td></td><td></td><td></td><td></td></tr>
</table>
